:root {
  --primaryGreen: #687864;
  --primaryBlue: #173542;
  --secondaryBlue: #31708e;
  --secondaryBlue-2: #5085a5;
  --backgroundColor: #f7f9fb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body, html {
  min-height: 100%;
  height: 100%;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  html {
    font-size: 1rem;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  html {
    font-size: 1.2rem;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  html {
    font-size: 1.4rem;
  }
}
}
